*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}
.discription__wrapper{
    max-width: 1323px;
    padding: 0 15px;
    margin: 0 auto;
}
.discription_on{
    display: flex;
    justify-content: space-between;
    margin: 15px auto 15px;
}
.discription__box{
    display: flex;
    justify-content: center;
}
.discription{
    max-width: 613px;
    padding: 0 10px;
    margin-top: 40px;
}
.discription__list{
    margin-left: 100px;
}
.discription__title{
    text-align: center;
    font-size: 26px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.discription__item:nth-child(even){
    border: 3px solid #ff00f0;
    font-weight: 700;
}
.discription__item:nth-child(odd){
    border: 3px solid black;
    font-weight: 800;
}

.discription__list-first .discription__item:nth-child(4){
    padding: 8px 0;
}
.discription__item:nth-child(2){
    margin-bottom: 40px;
}
.discription__item{
    max-width: 185px;
    padding: 15px 0;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}
.discription__item:nth-child(odd)::before{
    content: "";
    background-image: url(img/arrow_downward_black_24dp.svg);
    position: absolute;
    top: 43px;
    left: 79px;
    width: 25px;
    height: 20px;
}

.services{
    display:flex;
    margin-top: 15px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: #f6bcf3;
    min-height: 117px;
    margin: 0 auto;
}
.services__text{
    max-width: 230px;
}

.drop-img{
    max-width: 100%;
}
.discription__img{
    width: 360px;
}
.discription__img img{
    max-width: 100%;
}








@media (max-width: 1250px){
    .discription_on{
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }
    .drop-img{
        margin-top: 10px;
    }

}
@media (max-width: 1050px){
    .discription_on{
        width: 100%;
    }
    .discription__list{
    margin-left: 50px;
    }
    .services{
        flex-wrap: wrap;
        width: 50%;
    }
    .services__item{
        margin-bottom: 15px;
    }
}
@media (max-width: 550px){
     .discription__list{
    margin-left: 10px;
    }
    .discription__item{
        max-width: 150px;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .discription__item:nth-child(odd)::before{
    left: 60px;
}

}










.test{
    height: 100vh;
}









